<% layout("/layouts/boilerplate") %>
<body>
    <br><br>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Create a new Listing</h1>
    <form method="post" action="/listing" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Add catchy title" class="form-control" required> 
                <div class="valid-feedback">
                Looks good!
                </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
                <div class="valid-feedback">
                Looks good!
                </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" name="listing[image]" placeholder="Enter image URL/Link" class="form-control">
        </div>
        <div class="row">
             <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="1200" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter valid price.
                </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                <div class="invalid-feedback">
                  Please provide a country.
                </div>
            </div>
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control" required>
            <div class="invalid-feedback">
                Please enter location.
            </div>
        </div>
        <br>
        <div class="mb-3">
            <button class="btn btn-dark add-btn">Add</button>
        </div>
        <br><br>   
    </form>
    </div>
    </div>
</body>
